/*
 * Tetris.Component.Board
 * 10x20 grid of colour tiles that 20x20px
 */

.ac_board {
	width: 200px;
	height: 400px;
	background: #ececec;
}

.ac_tile {
	position: absolute;
	width: 19px;
	height: 19px;
}

.ac_red {
	background: red;
}

.ac_yellow {
	background: yellow;
}

.ac_magenta {
	background: magenta;
}

.ac_blue {
	background: blue;
}

.ac_cyan {
	background: cyan;
}

.ac_green {
	background: green;
}

.ac_orange {
	background: orange;
}
